<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Edycja ramówki godzinowej</title>
    <meta name="description" content="">
    <meta name="author" content="Dawid Galus">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class="one-half column" style="margin-top: 25%">
               <h4>Wybierz slot</h4>
               <form method="post" action="/edit">
                  <div class="row">
                     <label for="day">Wybierz dzień:</label>
                     <select class="u-full-width" id="day" name="day">
                        <option value="mon">Poniedziałek</option>
                        <option value="tue">Wtorek</option>
                        <option value="wed">Środa</option>
                        <option value="thu">Czwartek</option>
                        <option value="fri">Piątek</option>
                        <option value="sat">Sobota</option>
                        <option value="sun">Niedziela</option>
                     </select>
                  </div>
                  <div class="row">
                     <label for="hour">Wybierz godziny:</label>
                     <select class="u-full-width" id="hour" name="hour">
                        <option value="0">0:00-1:00</option>
                        <option value="1">1:00-2:00</option>
                        <option value="2">2:00-3:00</option>
                        <option value="3">3:00-4:00</option>
                        <option value="4">4:00-5:00</option>
                        <option value="5">5:00-6:00</option>
                        <option value="6">6:00-7:00</option>
                        <option value="7">7:00-8:00</option>
                        <option value="8">8:00-9:00</option>
                        <option value="9">9:00-10:00</option>
                        <option value="10">10:00-11:00</option>
                        <option value="11">11:00-12:00</option>
                        <option value="12">12:00-13:00</option>
                        <option value="13">13:00-14:00</option>
                        <option value="14">14:00-15:00</option>
                        <option value="15">15:00-16:00</option>
                        <option value="16">16:00-17:00</option>
                        <option value="17">17:00-18:00</option>
                        <option value="18">18:00-19:00</option>
                        <option value="19">19:00-20:00</option>
                        <option value="20">20:00-21:00</option>
                        <option value="21">21:00-22:00</option>
                        <option value="22">22:00-23:00</option>
                        <option value="23">23:00-24:00</option>
                     </select>
                  </div>
                  <br/><input class="button-primary" value="Dalej" type="submit">
               </form>
            </div>
         </div>
      </div>
   </body>
</html>